#form-backoffice {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

#form-backoffice fieldset .form-card {
  /* background: whitesmoke; */
  background: whitesmoke;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 20px 40px 30px 40px;
  box-sizing: border-box;
  width: 94%;
  margin: 0 3% 20px 3%;
  position: relative
}

#form-backoffice fieldset {
  /* background: white; */
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  /* padding-bottom: 20px; */
  position: relative
}

#form-backoffice fieldset:not(:first-of-type) {
  display: none
}

#form-backoffice fieldset .form-card {
  text-align: left;
  /* color: #9E9E9E; */
  color: #888;
}
.form-backoffice button {
  background-color: skyblue;
  color: white;
}
#form-backoffice label {
  margin-bottom: 0;
}

#form-backoffice input,
#form-backoffice textarea {
  padding: 0px 8px 4px 8px;
  border: none;
  /* border-bottom: 1px solid #ccc; */
  border-bottom: 3px solid skyblue;
  border-radius: 0px;
  /* margin-bottom: 25px; */
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  /* font-family: montserrat; */
  color: #2C3E50;
  font-size: 16px;
  /* letter-spacing: 1px; */
  transition: all 100ms ease;
}

#form-backoffice input:focus,
#form-backoffice textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none;
  font-weight: bold;
  border-bottom: 3px solid skyblue;
  outline-width: 0;
  transition: all 100ms ease;
}

#form-backoffice input:valid,
#form-backoffice textarea:valid {
  /* border-bottom: 3px solid #9ac526; */
  border-bottom: 3px solid #9ac526;
  transition: all 100ms ease;
}

#form-backoffice .radio-label {
  color: #2C3E50;
}

#form-backoffice input#ins_nom {
  text-transform: uppercase;
}

#form-backoffice input#ins_prenom {
  text-transform: capitalize;
}

#form-backoffice .action-button {
  width: 200px;
  background: skyblue;
  font-weight: bold;
  color: white;
  /* border: 0 none; */
  border-bottom: 3px solid #2C3E50;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 5px;
  /* margin: 0 5px; */
}
#form-backoffice input[type=submit] {
  width: 100%;
  background: var(--green-title-underline);
  border-bottom: 3px solid #2e502c;
}

#form-backoffice input[type=submit]:disabled {
  background: #888;
  border-bottom: 3px solid #333;
  opacity: 0.5;
}
/* Compte */
#form-backoffice #progressbar #form-step-1:before {
  /* font-family: "Font Awesome 5 Free";
  content: "\f007"; */
  content: "1";
  font-weight: 900;
}
/* Identité */
#form-backoffice #progressbar #form-step-2:before {
  /* font-family: "Font Awesome 5 Free";
  content: "\f2c2"; */
  content: "2";
  font-weight: 900;
}

/* Contact */
#form-backoffice #progressbar #form-step-3:before {
  /* font-family: "Font Awesome 5 Free";
  content: "\f879"; */
  content: "3";
  font-weight: 900;
}

.form-backoffice, input {
  border-color: aquamarine;
}